[Desktop Entry]
Comment=fabFORCE DBDesigner 4
Comment[en_US]=fabFORCE DBDesigner 4
Exec=StartDBD
GenericName=Visual database designer for MySQL databases
GenericName[en_US]=Visual database designer for MySQL databases
Icon=/Programs/DBDesigner/Current/Gfx/Icon48.xpm
MimeType=application/xml
Name=DBDesigner4
Name[en_US]=DBDesigner4
Path=~/.DBDesigner4
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
