[Desktop Entry]
Name=Eclipse-Java
Comment=Eclipse Integrated Development Environment
Exec=eclipse-java
Icon=eclipse.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;IDE;Development;Java;
