[Desktop Entry]
Categories=Network;
Comment=
Comment[en_US]=
Exec=Mosaic
GenericName=NCSA Mosaic Web Browser
GenericName[en_US]=NCSA Mosaic Web Browser
Icon=/System/Index/share/icons/Mosaic/mosaic64.png
MimeType=
Name=Mosaic
Name[en_US]=Mosaic
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
