[Desktop Entry]
Categories=Game;
Comment=Tremulous is a free, open source game that blends a team based FPS with elements of an RTS.
Comment[en_US]=Tremulous is a free, open source game that blends a team based FPS with elements of an RTS.
Comment[de_DE]=Tremulous ist ein OpenSource-Spiel, dass Elemente eines Teamorientierten Egoshooters mit denen eines Echtzeitstrategiespieles verbindet.
Exec=tremulous
GenericName=Tremulous
GenericName[en_US]=Tremulous
GenericName[de_DE]=Tremulous
Icon=/System/Links/Shared/pixmaps/tremulous.xpm
MimeType=
Name=Tremulous
Name[en_US]=Tremulous
Name[de_DE]=Tremulous
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
