# The following snippet was stolen from gentoo's udev rules.
# Carlo J. Calica

# cdrom symlinks and other good cdrom naming
BUS=="ide",     KERNEL=="hd[a-z]", ACTION=="add", IMPORT="/sbin/cdrom_id --export $tempnode"
BUS=="scsi",    KERNEL="sr[0-9]*", ACTION=="add", IMPORT="/sbin/cdrom_id --export $tempnode"
BUS=="scsi",    KERNEL="scd[a-z]", ACTION=="add", IMPORT="/sbin/cdrom_id --export $tempnode"
ENV{ID_CDROM}=="?*",            SYMLINK+="cdrom%e", GROUP="cdrom"
ENV{ID_CDROM_CD_RW}=="?*",      SYMLINK+="cdrw%e"
ENV{ID_CDROM_DVD}=="?*",        SYMLINK+="dvd%e"
ENV{ID_CDROM_DVD_R}=="?*",      SYMLINK+="dvdrw%e"

